.form-box {
	background-color: rgba(255, 255, 255, 0.301);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 500px;
}
.form-box:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}
.form-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}
.form-box input[type=checkbox] {
	display: none;
}
.form-box label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color : #000;
}
.form-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: auto;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}
.form-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form-box span {
	font-size: 14px;
}
.form-box button {
	background-color: #85171a;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	width: 50%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 100px;
}
span a {
	color: rgb(0, 0, 0);
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width :  100%;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .bg-video {
      height: 300%;
      top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video {
      width: 300%;
      left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
      background: url('screenshot.png') center center / cover no-repeat;
      
  }

  .bg-video {
      display: none;
  }
}

*{
  width : 100%;
}

.logo-image{
  width : 450px;
  height : auto;
}
.navbar {
  margin-bottom: 20px;
}